.my_class {
 margin-top: 10px;
 margin-bottom: 10px;
}

.box{
  background-color: aquamarine;
  height: 100px;
  width: 100px;

  margin-top: 20px;
  /* margin-right: auto; 왼쪽으로 감*/
  /* margin-left: auto; 오른쪽으로감 */
  /* 중간에 위치시키려면 왼쪽과 오른쪽에 마진을 둔다 */
  /* margin-right: auto;
  margin-left: auto; */
  margin: 20px auto;
  text-align: center;

}

span {
  line-height: 100px;
}

.test {
  display: none;
}

.sticky {
  position: sticky;
  top: 20px;
  background-color: blue;
}