
.col {
  width: 100px;
  height: 100px;
}

.chessboard {
  width: 800px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.row:nth-child(odd) .col:nth-child(even),
.row:nth-child(even) .col:nth-child(odd) {
  background-color: black;
}